<div id="<%= dom_id square %>">
  <div>
    <strong>Row:</strong>
    <%= square.row %>
  </div>

  <div>
    <strong>Column:</strong>
    <%= square.column %>
  </div>

  <div>
    <strong>User:</strong>
    <%= square.user_id %>
  </div>

  <div>
    <strong>Board:</strong>
    <%= square.board_id %>
  </div>

  <div>
    <strong>Nickname:</strong>
    <%= square.nickname %>
  </div>

</div>
