<div id="<%= dom_id square %>">
  <p>
    <strong>Game:</strong>
    <%= square.game_id %>
  </p>

  <p>
    <strong>User:</strong>
    <%= square.user_id %>
  </p>

  <p>
    <strong>Row:</strong>
    <%= square.row %>
  </p>

  <p>
    <strong>Column:</strong>
    <%= square.column %>
  </p>

</div>
