<div id="<%= dom_id score %>">
  <p>
    <strong>Game:</strong>
    <%= score.game_id %>
  </p>

  <p>
    <strong>Quarter:</strong>
    <%= score.quarter %>
  </p>

  <p>
    <strong>Team 1 score:</strong>
    <%= score.team_1_score %>
  </p>

  <p>
    <strong>Team 2 score:</strong>
    <%= score.team_2_score %>
  </p>

</div>
