<%= form_with model: @game do |form| %>
  <div>
    <%= form.label :team_1 %>
    <%= form.text_field :team_1 %>
    <%= tag.br %>
    <%= form.label :team_2 %>
    <%= form.text_field :team_2 %>
    <%= tag.br %>
    <%= form.label :game_date %>
    <%= form.text_field :game_date %>
  </div>

  <%= form.fields_for :quarter_scores do |quarter_form| %>
    <%= tag.br %>
    <b>Quarter <%= quarter_form.index + 1 %> </b>
    <%= quarter_form.hidden_field :quarter, value: quarter_form.index + 1 %>
    <%= tag.br %>
    <%= quarter_form.label :team_1_score, "#{@game.team_1}" %>
    <%= quarter_form.text_field :team_1_score %>
    <%= tag.br %>
    <%= quarter_form.label :team_2_score, "#{@game.team_2}" %>
    <%= quarter_form.text_field :team_2_score %>
    <%= tag.br %>
  <% end %>

  <div>
    <%= form.submit %>
  </div>
<% end %>
