<%= form_with(model: game) do |form| %>
  <% if game.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(game.errors.count, "error") %> prohibited this game from being saved:</h2>

      <ul>
        <% game.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="wa-stack">
      
    
    <%= form.label :home_team_id %>
    <%= form.collection_select :home_team_id, 
        Team.all, :id, :full_name,
        { prompt: "Select home team..." } %>
    
    <%= form.label :away_team_id %>
    <%= form.collection_select :away_team_id,
        Team.all, :id, :full_name,
        { prompt: "Select away team..." } %>
        
    <%= form.datetime_field :game_datetime %>
    <%= form.submit %>

  </div>
<% end %>
