<%= form_with(model: game) do |form| %>
  <% if game.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(game.errors.count, "error") %> prohibited this game from being saved:</h2>

      <ul>
        <% game.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="wa-stack">
      
    <div class="wa-stack">
      <%= form.label :team_1, class: "wa-heading-m", style: "display: block" %>
      <%= form.text_field :team_1 %>
    </div>

    <div class="wa-stack">
      <%= form.label :team_2, class: "wa-heading-m", style: "display: block" %>
      <%= form.text_field :team_2 %>
    </div>

    <div class="wa-stack">
      <%= form.label :sport, class: "wa-heading-m", style: "display: block" %>
      <%= form.text_field :sport %>
    </div>

    <div class="wa-stack">
      <%= form.label :game_datetime, class: "wa-heading-m", style: "display: block" %>
      <%= form.datetime_field :game_datetime %>
    </div>

    <div class="wa-stack">
      <%= form.label :status, class: "wa-heading-m", style: "display: block" %>
      <%= form.text_field :status %>
    </div>

    <div class="wa-stack">
      <%= form.label :team_1_logo, class: "wa-heading-m", style: "display: block" %>
      <%= form.file_field :team_1_logo %>
    </div>

    <div class="wa-stack">
      <%= form.label :team_2_logo, class: "wa-heading-m", style: "display: block" %>
      <%= form.file_field :team_2_logo %>
    </div>

    <div class="wa-stack">
      <%= form.submit %>
    </div>

  </div>
<% end %>
