<%= form_with(model: game) do |form| %>
  <% if game.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(game.errors.count, "error") %> prohibited this game from being saved:</h2>

      <ul>
        <% game.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :team_1, style: "display: block" %>
    <%= form.text_field :team_1 %>
  </div>

  <div>
    <%= form.label :team_1_color, style: "display: block" %>
    <%= form.text_field :team_1_color %>
  </div>

  <div>
    <%= form.label :team_2, style: "display: block" %>
    <%= form.text_field :team_2 %>
  </div>

  <div>
    <%= form.label :team_2_color, style: "display: block" %>
    <%= form.text_field :team_2_color %>
  </div>

  <div>
    <%= form.label :game_date, style: "display: block" %>
    <%= form.datetime_field :game_date %>
  </div>

  <div>
    <%= form.label :square_price, style: "display: block" %>
    <%= form.number_field :square_price %>
  </div>

  <div>
    <%= form.label :team_1_logo, style: "display: block" %>
    <%= form.file_field :team_1_logo %>
    <%= form.label :team_2_logo, style: "display: block" %>
    <%= form.file_field :team_2_logo %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
