<p style="color: green"><%= notice %></p>

<% content_for :title, "Games" %>

<h3>Games</h3>

<div class="wa-stack wa-gap-3xs" style="max-width: 60ch; margin: auto">
  <div id="games">
    <% @games.each do |game| %>
      <article class="wa-flank" style="flex-wrap: nowrap">
        <wa-avatar style="--size: 2rem">
          <wa-icon slot="icon" family="sharp-duotone" type="thin" name="<%= sport_icon_tag(game.sport) %>"></wa-icon>
        </wa-avatar>
        <div class="wa-flank:end wa-gap-xs">
          <strong><%= link_to "#{game.home_team.full_name} vs #{game.away_team.full_name}", game, class: "wa-link-plain" %></strong>
          <wa-format-date date="<%= game.game_datetime %>" month="long" day="numeric" year="numeric" ></wa-format-date>
        </div>
      </article>
      <wa-divider vertical style="height: 1em; margin-left: 1rem"></wa-divider>
    <% end %>
  </div>
</div>

<% if Current.user&.admin? %>
  <p style="background: yellow; padding: 1rem; font-size: 24px; font-weight: bold;">ADMIN SECTION - YOU SHOULD SEE THIS</p>
  <div style="margin: 2rem auto; text-align: center;">
    <%= link_to "New game", new_game_path, class: "wa-button" %>
  </div>
<% end %>

<% if authenticated? %>
  <p>Logged in: <%= Current.user&.email_address %></p>
  <p>Role: <%= Current.user&.role %></p>
  <p>Admin?: <%= Current.user&.admin? %></p>
  <p>Helper result: <%= current_user_admin? %></p>
<% else %>
  <p>Not logged in</p>
<% end %>
