<% cache @game do %>
  <h1><%= "#{@game.team_1} vs. #{@game.team_2} - #{@game.game_date}" %></h1>
<% end %>

<%= link_to "New Board", new_game_board_path(@game) if authenticated? %>

<%= tag.br %>
<%= tag.br %>

<%= content_tag :table do %>
  <tr>
    <th>Team</th>
    <th>Q1</th>
    <th>Q2</th>
    <th>Q3</th>
    <th>Q4</th>
  </tr>
  <tr>
    <td> <%="#{@game.team_1}"%> </td>
    <% @game.quarter_scores.each do |qs| %>
      <td>
        <%="#{qs.team_1_score.to_s}"%>
      </td>
    <% end %>
  </tr>
  <tr>
    <td> <%="#{@game.team_2}"%> </td>
    <% @game.quarter_scores.each do |qs| %>
      <td>
        <%="#{qs.team_2_score.to_s}"%>
      </td>
    <% end %>
  </tr>
<% end %>

<%= tag.br %>
<%= tag.br %>
<b> Current Boards for this Game </b>
<%= tag.br %>
<% @game.boards.each do |board| %>
  <%= "#{board.name} with a price of #{board.price.to_s}" %>
<%= tag.br %>
<% end %>
<%= tag.br %>

<%= link_to "Back", games_path %>
<% if authenticated? %>
  <%= link_to "Edit", edit_game_path(@game) %>
  <%= button_to "Delete", @game, method: :delete, data: { turbo_confirm: "Are you sure?" } %>
<% end %>
