<%= form_with(model: [@game, @board]) do |form| %>
  <div>
    <%= form.label :name %>
    <%= form.text_field :name %>
    <%= tag.br %>
    <%= form.label :price %>
    <%= form.text_field :price %>
  </div>

  <div class="wa-grid grid-container">
  <% @board.squares.each do |s| %>
    <div class="grid-item">
      <%="#{s.row.to_s} #{s.column.to_s}"%>
    </div>
  <% end %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
