<%= form_with(model: [@game, @board]) do |form| %>
  <div>
    <%= form.label :name %>
    <%= form.text_field :name %>
    <%= tag.br %>
    <%= form.label :price %>
    <%= form.text_field :price %>
  </div>

  <% @board.squares.each do |s| %>
    <%="#{s.row.to_s} #{s.column.to_s}"%>
  <% end %>

  <div>
    <%= form.submit %>
  </div>
<% end %>
