<%= form_with(url: claim_squares_board_path(board), method: :post) do |form| %>

  <div class="wa-stack" style="align-items: center;">
    <%= image_tag board.game.home_team.logo, size: "100x100" %>
    <div class="wa-flank">
      <%= image_tag board.game.away_team.logo, size: "100x100" %>

      <div class="wa-grid wa-gap-xs" style="grid-template-columns: repeat(11, 5rem);">
        <% (0..10).each do |col| %>
          <wa-card>
            <div class="wa-stack wa-align-items-center wa-gap-s">
              <%= board.home_digit_for(col-1) unless col == 0 %>
            </div>
          </wa-card>
        <% end %>
        <% (0..9).each do |row| %>
          <% (0..10).each do |column| %>
            <% if column == 0 %>
              <wa-card>
                <div class="wa-stack wa-align-items-center wa-gap-s">
                  <%= board.away_digit_for(row) %>
                </div> 
              </wa-card>
            <% else %>
              <% square = board.squares.find_by(row: row, column: column-1) %>
              <% if square&.nickname.present? %>
                <wa-card>
                  <div class="wa-stack wa-align-items-center wa-gap-s">
                    <wa-tooltip for="<%= "square_#{row}_#{column-1}" %>"><%= "#{square.nickname}" %></wa-tooltip>
                    <span id="<%= "square_#{row}_#{column-1}" %>"><%= "#{square.nickname[0,2]...}" %></span>
                  </div>
                </wa-card>
              <% else %>
                <wa-card>
                  <div class="wa-stack wa-align-items-center wa-gap-s">
                    <%= check_box_tag "square_ids[]", square&.id, false, id: "square_#{square&.id}" %>
                  </div>
                </wa-card>
              <% end %>
            <% end %>
          <% end %>
        <% end %>
      </div>
    </div>
    <div class="wa-flank">
      <%# form.submit "Claim Selected Squares", class: "wa-button", variant: "brand" %>
      <wa-button variant="brand" type="submit">Claim Selected Squares</wa-button>
    </div>
  </div>
<% end %>
<%= button_to "Randomize Numbers", randomize_numbers_board_path(board) if current_user_admin? %>
