<p style="color: green"><%= notice %></p>

<%= render @board %>

<%= render "games/scoreboard", game: @board.game %>

<%= render "your_squares", board: @board %>
<wa-button>Your Squares</wa-button>

<%= turbo_frame_tag "grid_#{@board.id}" do %>
  <%= render "grid", board: @board %>
<% end %>

I come after the grid

<div>
  <%= link_to "Edit this board", edit_board_path(@board) %> |
  <%= link_to "Back to boards", boards_path %>

  <%= button_to "Destroy this board", @board, method: :delete %>
</div>

<script>
  const drawer = document.querySelector('#your-squares');
  const openButton = drawer.nextElementSibling;

  openButton.addEventListener('click', () => (drawer.open = true));
</script>
