<p style="color: green"><%= notice %></p>

<%= render @board %>

<%= render "games/scoreboard", game: @board.game %>

<%= render "winners", board: @board %>

<%= turbo_frame_tag "grid_#{@board.id}" do %>
  <%= render "your_squares", board: @board %>
  <%= render "grid", board: @board %>
<% end %>

<wa-button id="your-squares-button">Your Squares</wa-button>

<div>
  <%= link_to "Edit this board", edit_board_path(@board) %> |
  <%= link_to "Back to boards", boards_path %>

  <%= button_to "Destroy this board", @board, method: :delete %>
</div>

<script>
  document.getElementById('your-squares-button').addEventListener('click', () => {
    document.getElementById('your-squares-drawer').open = true;
  });
</script>

