<p style="color: green"><%= notice %></p>

<div class="wa-stack wa-align-items-center wa-gap-s">
  <%= render @board %>
  <%= render "games/scoreboard", game: @board.game %>

  <%= turbo_frame_tag "grid_#{@board.id}" do %>
    <%= render "your_squares", board: @board %>
    <%= render "grid", board: @board %>
  <% end %>

  <div class="wa-cluster wa-align-items-center wa-gap-s">
    <wa-button id="your-squares-button" variant="brand">View Your Squares</wa-button>
    <wa-button id="winners-button" variant="brand">View Winners</wa-button>
  </div>
  <%= link_to "Edit this board", edit_board_path(@board) if current_user_admin? %>
  <%= link_to "Back to Boards...", boards_path %>

  <%= button_to "Destroy this board", @board, method: :delete if current_user_admin? %>
  <%= render "winners", board: @board %>
</div>

<script>
  document.getElementById('your-squares-button').addEventListener('click', () => {
    document.getElementById('your-squares-drawer').open = true;
  });
</script>

<script>
  document.getElementById('winners-button').addEventListener('click', () => {
    document.getElementById('winners-drawer').open = true;
  });
</script>
