<!DOCTYPE html>
<html class="wa-cloak">
  <head>
    <title><%= content_for(:title) || "Sbsquares" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    <%# add Web Awesome and Font Awesome %>
    <link rel="stylesheet" href="https://early.webawesome.com/webawesome@3.0.0-beta.6/dist/styles/webawesome.css" />
    <script type="module" src="https://early.webawesome.com/webawesome@3.0.0-beta.6/dist/webawesome.loader.js"></script>
    <script src="https://kit.fontawesome.com/dc8a27351f.js" crossorigin="anonymous"></script>
  </head>

  <body>

    <wa-page class="wa-system">
      <header slot="header">
        <%= link_to root_path do %>
          <div class="wa-cluster">
            <i class="fa-duotone fa-solid fa-football fa-2xl" style="--fa-primary-color: #25511f; --fa-secondary-color: #1e201e;"></i>
          <span class="wa-heading-xl" style="color: inherit; text-decoration: none;">Super Bowl Squares</span>
          </div>
        <% end %>
        <div class="wa-cluster">
          <%= link_to "Hello, #{Current.user.nickname}", edit_user_path(Current.user) if authenticated? %>
          <%= link_to "Log in", new_session_path unless authenticated? %>
          <%= button_to "Log out", session_path, method: :delete if authenticated? %>
        </div>
      </header>

      <main>
        <%= yield %>
      </main>
    </wa-page>

  </body>
</html>
