<!DOCTYPE html>
<html class="wa-cloak">
  <head>
    <title><%= content_for(:title) || "Sbsquares" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="application-name" content="Sbsquares">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    <%# Adding my Web Awesome Pro project %>
    <script src="https://kit.webawesome.com/e754ca862e634dc4.js" crossorigin="anonymous"></script>
  </head>

  <wa-page class="wa-cloak">

    <header slot="header">
      <%= render "layouts/header" %>
    </header>

    <nav slot="navigation">
      <%= render "layouts/nav" %>
    </nav>

    <body>
      <%= yield %>
    </body>

    <footer slot="footer">
      <%= render "layouts/footer" %>
    </footer>

  </wa-page>

</html>
