<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Sbsquares" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    <link rel="stylesheet" href="https://early.webawesome.com/webawesome@3.0.0-alpha.9/dist/styles/themes/active.css" />
    <script type="module" src="https://early.webawesome.com/webawesome@3.0.0-alpha.9/dist/webawesome.loader.js"></script>
  </head>

  <body>
    <wa-page>
      <header slot="header">
        <div>
          <wa-icon name="football" style="color: #A52A2A"></wa-icon>
          <wa-icon name="square" style="color: #0000ff"></wa-icon>
          <b>Super Bowl Squares</b>
        </div>
      </header>

      <nav slot="navigation">
          <%= link_to "Home", root_path %>
          <%= link_to "Login", new_session_path unless authenticated? %>
          <%= button_to "Log out", session_path, method: :delete if authenticated? %>
      </nav>

      <main>
        <%= yield %>
      </main>

      <footer slot="footer">
        <div>
          Made with <wa-icon name="heart" style="color: #ff5733;"></wa-icon> by the <a href="https://www.likableguys.com">Likable Guys</a>
        </div>
      </footer>

    </wa-page>
  </body>
</html>
